{% load staticfiles %}


<link rel="stylesheet" href='{% static "third_part/boxplot/distrochart.css" %}' type="text/css" media="all"/>
{#<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>#}

<div class="graficos_interativos" class="grid">
    <h2 class="title_primary">BoxPlot</h2>
    <p>Selecione as dimensões que deseja visualizar.</p>
    <div class="content_section__actions row" id="content_options">

        <select class="boxplot_options" id="nivel_1">
            {% for sc in boxplot_chart.options_x %}
                {% if sc.value == boxplot_chart.default_level_1.value %}
                    <option value={{ sc.value }} selected>{{ sc.label }}</option>
                {% else %}
                    <option value={{ sc.value }}>{{ sc.label }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <select class="boxplot_options" id="nivel_2">
            {% for sc in boxplot_chart.options_y %}
                {% if sc.value == boxplot_chart.default_level_2.value %}
                    <option value={{ sc.value }} selected>{{ sc.label }}</option>
                {% else %}
                    <option value={{ sc.value }}>{{ sc.label }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <div class="ajax-loaders">
            <img src="{% static 'solr_front/img/ajax-loader.gif' %}" alt=""/>
        </div>

    </div>
    <div class="chart-wrapper" id="chart-distro1">

    </div>

    <div class="chart-options">
        <p>Show: </p>
        {% comment %}
                <button onclick="chart1.violinPlots.hide();chart1.boxPlots.show({reset:true});chart1.notchBoxes.hide();chart1.dataPlots.change({showPlot:false,showBeanLines:false})">
                    Box Plot
                </button>
                <button onclick="chart1.violinPlots.hide();chart1.notchBoxes.show({reset:true});chart1.boxPlots.show({reset:true, showBox:false,showOutliers:true,boxWidth:20,scatterOutliers:true});chart1.dataPlots.change({showPlot:false,showBeanLines:false})">
                    Notched Box Plot
                </button>
                <button onclick="chart1.violinPlots.show({reset:true,clamp:0});chart1.boxPlots.show({reset:true, showWhiskers:false,showOutliers:false,boxWidth:10,lineWidth:15,colors:['#555']});chart1.notchBoxes.hide();chart1.dataPlots.change({showPlot:false,showBeanLines:false})">
                    Violin Plot Unbound
                </button>
                <button onclick="chart1.violinPlots.show({reset:true,clamp:1});chart1.boxPlots.show({reset:true, showWhiskers:false,showOutliers:false,boxWidth:10,lineWidth:15,colors:['#555']});chart1.notchBoxes.hide();chart1.dataPlots.change({showPlot:false,showBeanLines:false})">
                    Violin Plot Clamp to Data
                </button>
                <button onclick="chart1.violinPlots.show({reset:true, width:75, clamp:0, resolution:30, bandwidth:50});chart1.dataPlots.show({showBeanLines:true,beanWidth:15,showPlot:false,colors:['#555']});chart1.boxPlots.hide();chart1.notchBoxes.hide()">
                    Bean Plot
                </button>
                <button onclick="chart1.violinPlots.hide();chart1.dataPlots.show({showPlot:true, plotType:'beeswarm',showBeanLines:false, colors:null});chart1.notchBoxes.hide();chart1.boxPlots.hide();">
                    Beeswarm Plot
                </button>
                <button onclick="chart1.violinPlots.hide();chart1.dataPlots.show({showPlot:true, plotType:40, showBeanLines:false,colors:null});chart1.notchBoxes.hide();chart1.boxPlots.hide();">
                    Scatter Plot
                </button>
{% endcomment %}
        <button onclick="if(chart1.dataPlots.options.showLines){chart1.dataPlots.change({showLines:false});} else {chart1.dataPlots.change({showLines:['median','quartile1','quartile3']});}">
            Trend Lines
        </button>
    </div>
</div>


<script type="text/javascript">

    var parentDiv = $("#chart-distro1");
    //console.log(parentDiv)
    var margin = {
        top: 12,
        left: 80,
        right: 45,
        bottom: 10
    };


    function drawBoxPlotChart(data, op1, op2) {
        var width = parentDiv.clientWidth - margin.left - margin.right || 1200;
        var height = parentDiv.clientHeight - margin.top - margin.bottom || 500;
        console.log(parentDiv.clientWidth,parentDiv.clientHeight);
        var conceptName = $('#nivel_2.boxplot_options').find(":selected").text();
        $("#chart-distro1").empty().show();
        // d3.csv('/static-files/third_part/boxplot/data.csv', function (error, data) {
        //data.forEach(function (d) {
        //  d.metrics = +d.metrics;
        //});-
        data.sort(function (x, y) {
            return d3.ascending(x.x_axis, y.x_axis);
        });
        if (data.length > 0) {
            chart1 = makeDistroChart({
                data: data,
                xName: 'x_axis',
                yName: 'y_axis',
                axisLabels: {xAxis: null, yAxis: conceptName},
                selector: "#chart-distro1",
                chartSize: {height: height, width: width},
                constrainExtremes: true
            });

            chart1.renderBoxPlot();
            chart1.renderDataPlots();
            //chart1.renderNotchBoxes({showNotchBox: false});
            //chart1.renderViolinPlot({showViolinPlot: false});
        } else {
            $('#chart-distro1').hide()
        }


    }

    // });
</script>
