{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">




	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

		<link href="{% static "solr_front/css/external_lib/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "solr_front/css/external_lib/font-awesome.min.css" %}" rel="stylesheet">
		<link href="{% static "solr_front/template/css/style.css" %}" rel="stylesheet">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Buscador analítico</title>
    <!-- css -->
    {% comment %}
      bootstrap precisa iniciar primeiro
    {% endcomment %}


    <script type="text/javascript" src='{% static "solr_front/js/external_lib/jquery.js" %}'></script>

		<script type="text/javascript" src='{% static "solr_front/js/external_lib/QueryBuilder/i18n/pt_BR.js" %}'></script>


    <link href='{% static "favicon.ico" %}' rel="shortcut icon"/>
    <link rel="stylesheet" href='{% static "solr_front/css/font-awesome.min.css" %}' type="text/css" media="all"/>
    <link rel="stylesheet" href='{% static "solr_front/css/jquery-ui.min.css" %}'/>


    <!-- js -->
    <script type='text/javascript' src='{% static "solr_front/js/external_lib/jquery-ui.min.js" %}'></script>
		<script type="text/javascript" src='{% static "solr_front/js/interact.min.js" %}'></script>


    <link rel="stylesheet" href='{% static "solr_front/css/QueryBuilder/bootstrap-theme.css" %}' type="text/css" media="all"/>
    <link rel="stylesheet" href='{% static "solr_front/css/QueryBuilder/bootstrap.min.css" %}' type="text/css" media="all"/>
    <link rel="stylesheet" href='{% static "solr_front/css/QueryBuilder/query-builder.default.min.css" %}' type="text/css" media="all"/>

    <script type="text/javascript" src='{% static "solr_front/js/external_lib/QueryBuilder/jQuery.extendext.js" %}'></script>
    <script type="text/javascript" src='{% static "solr_front/js/external_lib/QueryBuilder/doT.min.js" %}'></script>
    <script type="text/javascript" src='{% static "solr_front/js/external_lib/QueryBuilder/moment-with-locales.js" %}'></script>
    <script type="text/javascript" src='{% static "solr_front/js/external_lib/QueryBuilder/query-builder.min.js" %}'></script>


    <script src='{% static "solr_front/js/external_lib/bootstrap.min.js" %}'></script>

		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->


    <script src='{% static "solr_front/js/external_lib/bootbox.min.js" %}'></script>

    <link href='{% static "solr_front/css/external_lib/bootstrap-datepicker3.min.css" %}' rel="stylesheet">
    <link href='{% static "solr_front/css/external_lib/bootstrap-slider.min.css" %}' rel="stylesheet">

    <link href='{% static "solr_front/css/external_lib/selectize.bootstrap3.css" %}' rel="stylesheet">
    <link href='{% static "solr_front/css/external_lib/bootstrap-select.min.css" %}' rel="stylesheet">
    <link rel="stylesheet"  href='{% static "solr_front/css/external_lib/bootstrap-datepicker.css" %}' type="text/css" media="all"/>
    <link rel="stylesheet"  href='{% static "solr_front/css/external_lib/bootstrap-datepicker.standalone.css" %}' type="text/css" media="all"/>
    <script src='{% static "solr_front/js/external_lib/popper.min.js" %}' ></script>


    <script type="text/javascript" src='{% static "solr_front/js/external_lib/bootstrap-slider.min.js" %}'></script>
    <script type="text/javascript" src='{% static "solr_front/js/external_lib/selectize.min.js" %}'></script>

    <meta name="referrer" content="no-referrer" />

    {# JQUERY TAG INPUT#}

    {%comment%}
      script tagsinput foi modificado para bloquear
      inserção aleátoria de strings que não foram selecionadas no autocomplete
    {%endcomment%}

    <script src='{% static "solr_front/js/external_lib/jquery.tagsinput.min.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "solr_front/css/external_lib/jquery.tagsinput.min.css" %}' />

    <!-- d3js -->
    <script src='{% static "solr_front/js/external_lib/d3js/d3.v3.min.js" %}'></script>
		<script src='{% static "solr_front/js/external_lib/d3js/d3.tip.v0.6.3.js" %}'></script>



    <link href='{% static "solr_front/css/external_lib/bootstrap-glyphicons.css" %}' rel="stylesheet">


    <!--scripts internos-->
    <link rel="stylesheet" href='{% static "solr_front/css/style.css" %}' type="text/css" media="all"/>
    <link rel="stylesheet" href='{% static "solr_front/css/custom.css" %}' type="text/css" media="all"/>


	  {% block extra_head %}{% endblock %}

		<link rel="stylesheet" href='{% static "solr_front/css/external_lib/bootstrap-treeview.css" %}' type="text/css" media="all"/>
		<script type="text/javascript" src='{% static "solr_front/js/external_lib/bootstrap-treeview.js" %}'>	</script>


		<!-- modal animated-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js"></script>
		<link rel="stylesheet" href='{% static "solr_front/css/external_lib/modal_animated.css" %}' type="text/css" media="all"/>


		<script src='{% static "third_part/sankey/sankey.js" %}'></script>
		<script src='{% static "third_part/wordcloud/d3.layout.cloud.js" %}'></script>
		<script src='{% static "third_part/wordcloud/d3.wordcloud.js" %}'></script>
		<script src='{% static "third_part/wordcloud/example.words.js" %}'></script>


	<link rel="stylesheet" href='{% static "solr_front/css/loadingOne.css" %}' type="text/css" media="all"/>
	</head>
	<body>
		<script>
			/* Variaveis de contexto global passadas para javascript  */

			//passa para javascript token
			var csrf = "{{csrf_token}}";
			// inicializa dados do contexto
			var facetsCategorias = {{ facets_categorias|safe }};

			// Inicializa a collection
			var bv_collection = "{{ collection }}"
			var idioma = "{{ idioma }}"

			var vertice = {{ vertice|safe }}

			var navigation_tree = {{ navigation_tree | safe }}

			var id_collection = "{{ id }}"

			var omite_secoes = {{ omite_secoes | safe }}
			</script>

		<!-- Loader fullscreen -->
		<div id="loader_screen" class="text-center backgroundLoader" >
			<div class="loader-wrapper" id="loader-1">
				<div id="loader" ></div>
				<br>
				<p  id="status_message">Os dados estão sendo indexados pelo sistema, a uma taxa de aproximadamente 15.000 registros por minuto. Por favor aguarde.</p>
			</div>
		</div>


		<div id="alert_screen" class="text-center backgroundLoader" style="display: none;">
			<div id="alert_screen_div_id" >
			</div>
		</div>

		<style media="screen">
			section {
				background-color: #efefef;
			}
			.group_barchart .card{
				background-color: #ffff
			}
		</style>

		<header class="nav-bar">
			<div class="container">

				<div style="width: 80%; overflow: hidden; position:relative;">
					<div style="width: 150px; float: left;">



						<img src='{% static "solr_front/img/logo_buscador.jpg" %}' title="Buscador" style="padding-bottom:5px"/>
					</div>
					<div style="position:absolute; padding-left: 150px; padding-bottom: 0px; bottom:0px;">
						<h4>Buscador multipropósito para análise de dados</h4>
					</div>
				</div>


				<div class="secundarynav">
					<select id="select_home" class="form-control">
					 <option value="inicial">Opções:</option>
					 <option value="modal_navigation_tree">Mapa de navegação da pesquisa em andamento</option>
					 <option value="{% url 'home' idioma=idioma template=template%}">Iniciar nova busca</option>
					 <option value="inicial">Salvar pesquisa</option>
					 <option value="exp_csv">Exportar a pesquisa para Excel</option>
					</select>
				</div>


				<div class="alert alert-danger fade in alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
					<strong></strong>Este sistema está em fase de testes e funciona no Google Chrome e no Firefox. Atualmente o mesmo não funciona no Edge, Safari, IE. Obrigado pela compreensão!
				</div>


			</div>



		</header>
		<section id='first_section' style='position:relative'>
			<div class="container">
				<div class="row content_section">


						<div class="col-md-auto has-col" id="facet_block">



						<div class="content_section__header no-border" style="display:inline-flex" >
							<h2 class="title_secondary">Escolha o filtro </h2>
							<div id="loader_facets" class="vertical-center text-center" style="display:inline-flex">
								<p>&nbsp <i>Calculando os filtros</i></p>
								<div  class="loader"></div>
							</div>
						</div>

						<div class="content_section__container" id='facets'></div>

						<div>
							<button id="report_facets" type="button" class="btn btn-default btn-sm"> <!-- onclick="reportFacets()"> -->
								<span class="glyphicon glyphicon-download-alt"></span> Download .csv dos filtros e respectivos valores
							</button>
						</div>
					</div>

					{% if not 'busca' in omite_secoes %}
						{% include "solr_front/querybuilder.html" %}
					{% endif %}

					{% if not 'refine' in omite_secoes %}
					<div class="col-md-3 has-col">
						<div class="content_section__header no-border">
							<h2 class="title_secondary">Refine sua busca</h2>
						</div>
						<div class="svg_divs" id="svg_chordchart_div" style="padding-top:20px">
							{% include "solr_front/graficos/chordchart.html" %}
						</div>
					</div>
					{% endif %}

			</div>
		</div>

		</section>
		<section>
			<div class="container">
				<div class="content_section">

					{% if collection == 'memoria_autoria' %}
						<div class="alert alert-danger" role="alert">
							Atenção! Essa collection é experimental e os seus dados são agregados automaticamente através de um algoritimo
							qu se encontra em desenvolvimento. Os dados aqui apresentados não são consistentes para análise!
						<div>
					{% endif %}


					<div class="content_section__header no-border background-section">
						<span id="resultado_number"></span>
					</div>

					<div class="content_section col-md-12" id="main">
					</div>

					{% if not 'outros_indicadores' in omite_secoes %}
					<div class="content_section__header secondary no-border">
						<h4 class="title_secondary">Outros indicadores relevantes de {{ collection_label }}</h4>
					</div>
					<div class="content_section__grid secondary no-border" id='secondary'></div>
					{% endif %}


					<div class="content_section__header secondary no-border">
						<h4 class="title_secondary">Distribuição percentual</h4>
					</div>

							<div class="group_half_pie_chart row"></div>


				</div>
			</div>
		</section>



		<!-- Documentos -->
		{% if not 'documentos' in omite_secoes %}
		<section>
			<div class="container">
				<div class="title-section">
					<div class="title-section__icon">
					</div>
					<div class="title-section__text">
						<h1>{{collection_label}}</h1>
					</div>
				</div>
				<div class="content_section col-md-12 row" id="documentos">

				</div>
			</div>
		</section>
		{% endif %}


		{% if not 'related_collections' in omite_secoes %}
		<section>
			<div class="container">
				<div class="title-section">
					<div class="title-section__icon">
					</div>
					<div class="title-section__text">
						<h1>Collections relacionadas ( Funil )</h1>
						<div id="loader_resultado_number" class="loader"></div>
					</div>
					<div class="content_section col-md-12 row" id="collections_relacionadas" hidden></div>

					{% comment %}
					<div id="content_relacionados" hidden>
						<div class="content_section__header secondary no-border">
							<h4 class="title_secondary">Outros indicadores relevantes nas collections relacionadas de {{ collection_label }}</h4>
						</div>
						<div class="content_section__grid secondary" id='funil_totalizadores'></div>
					</div>
					{% endcomment %}
				</div>
			</div>
		</section>
		{% endif %}






				{% if not 'wordcloud' in omite_secoes %}
				<section>
					<div class="container">
						<div class="title-section">
							<div class="title-section__icon" data-toggle="collapse" data-target=".graficos_interativos" aria-expanded="false">
							</div>
							<div class="title-section__text">
								<h1>Nuvem de palavras citadas</h1>
							</div>
						</div>
						<div class="content_section">
							<div class="content_section__grafico">
								<!--
								Chama o HTML que tem o javascript e elementos HTML deste grafico.
								O javascript deverah sair deste HTML e ir para um arquivo.
							 	-->
								<div class="svg_divs" id="svg_wordcloud_div">
								  {% include "solr_front/graficos/wordcloud.html" %}
								</div>
							</div>
						</div>
					</div>
				</section>
				{% endif %}






		<section>
			<div class="container">
				<div class="title-section">
					<div class="title-section__icon" data-toggle="collapse" data-target=".graficos_interativos" aria-expanded="false">
					</div>
					<div class="title-section__text">
						<h1>Graficos interativos multidimensionais</h1>
					</div>
				</div>
				<div class="content_section">
					<div class="content_section__grafico">
						<!--
						Chama o HTML que tem o javascript e elementos HTML deste grafico.
						O javascript deverah sair deste HTML e ir para um arquivo.
					 	-->
						{% if not 'stackedbarchart' in omite_secoes %}
						<div class="svg_divs" id="svg_stackedbarchart_div">
						  {% include "solr_front/graficos/stackedbarchart.html" %}
						</div>
						<!-- Div para inclusao do SVG -->
						<div id="facet_multiplo"></div>
						{% endif %}

						{% if not 'pivot_table' in omite_secoes %}
						<div class="svg_divs" id="pivot_table_div">
							{% include "solr_front/graficos/pivot_table.html" %}
						</div>
						{% endif %}

						{% if not 'sankey' in omite_secoes %}
							<div class="svg_divs" id="svg_sankeychart_div">
							  {% include "solr_front/graficos/sankeychart.html" %}
							</div>
						{% endif %}

						{% if not 'bubble' in omite_secoes %}
							<div class="svg_divs" id="svg_bubblechart_div">
							  {% include "solr_front/graficos/bubblechart.html" %}
							</div>
						{% endif %}
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="content_section">
					{% comment %}
					<div class="svg_divs" id="svg_stackedbarchart_div">
						{% include "solr_front/graficos/chordchart.html" %}
					</div>
					{% endcomment %}
				</div>
			</div>
		</section>


		<section>
			<div class="container">
				<div class="title-section">
					<div class="title-section__icon" data-toggle="collapse" data-target="#graficos" aria-expanded="false">
					</div>
					<div class="title-section__text">
						<h1>Graficos Estáticos</h1>
					</div>
				</div>
				<div class="content_section">
					<div class="col-md-12 has-col">
						<!-- <div id="graficos" class="collapse grid"> -->
						<div id="graficos" class="grid">
							<div class="group_barchart"></div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<div class="container" style="padding:5px">
			<div style="display: inline-block; text-align:left; width:80%">
				Produto desenvolvido com o apoio técnico da Biblioteca Virtual da FAPESP - <a href="http://www.bv.fapesp.br">BV FAPESP</a>
			</div>
		</div>

		<footer>
		</footer>
		<script src='{% static "solr_front/js/utils.js" %}'></script>
		<script src='{% static "solr_front/js/bv_alerts.js" %}'></script>
	  <script src='{% static "solr_front/js/bv_d3.js" %}'></script>

		<script src='{% static "solr_front/js/bv_querybuilder.js" %}'></script>

		<script src='{% static "solr_front/js/components.js" %}'></script>
		<script src='{% static "solr_front/js/bv_facet.js" %}'></script>
	  <script src='{% static "solr_front/js/functions.js" %}'></script>
		<script src='{% static "solr_front/js/bv_reports.js" %}'></script>
	  <script src='{% static "solr_front/js/main.js" %}'></script>

		<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
		<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


		<!-- Para baixar os CSVs dos facets e dos graficos -->
		<script src='{% static "third_part/jszip/jszip.js" %}'></script>
		<script src='{% static "third_part/jszip/jszip-utils.js" %}'></script>
		<script src='{% static "third_part/jszip/jszip-utils-ie.js" %}'></script>
		<script src='{% static "third_part/jszip/FileSaver.js" %}'></script>




		<script type="text/javascript">

				// var fomentos = {{documentos|safe}};

				var collection_label = "{{collection_label}}";

		</script>
		<script type="text/javascript" src='{% static "solr_front/js/external_lib/modal_animated.js" %}'>	</script>
	</body>

	<!-- modal -->
	 <div id="modal_navigation_tree" class="modal" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="modal_navigation_tree_ModalLabel" aria-hidden="false">
		 <div class="modal-dialog" style="width:90%">
			 <div class="modal-content">
				 <div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					 <h4 class="modal-title" id="modal_navigation_tree_ModalLabel">Mapa de navegação da pesquisa em andamento </h4>
				 </div>
				 <div class="modal-body" style="width: 90%; height: 70vh; overflow: auto;">
					 {% include "solr_front/graficos/navigation_tree.html" %}

					 <hr>
					 <h3>Pesquisas existentes</h3>
					 <ul>
						 {% for nf  in navigate_fieds  %}
							 <li><b>{{ nf.id }} - </b><a href="{% url 'params_id' collection=nf.collection  idioma='pt' id=nf.id template=template%}">{{ nf.title }}</a> - <a href="{% url 'clean_session' idioma='pt' id=nf.id template=template%}">Excluir essa etapa da pesquisa!</a></li>
						 {% endfor %}
					 </ul>
				 </div>
				 <div class="modal-footer" style="text-align:center">
					 <input type="button" class="btn btn-info" value="Recarregar a página" onClick="window.location.href=window.location.href">
					 <a href="/" class="btn btn-warning" role="button">Iniciar nova pesquisa</a>
				 </div></div></div></div>





					 <!-- modal Exportação csv!-->
				   <div id="exp_csv" class="modal" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="'exp_csv_ModalLabel" aria-hidden="false">
				     <div class="modal-dialog">
				       <div class="modal-content">
				         <div class="modal-header">
				           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				           <h4 class="modal-title" id="exp_csv_ModalLabel">Exportar a pesquisa para Excel</h4>
				         </div>
				         <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
									 <style media="screen">
									 	#form_csv input {
											width: 100%;
										}
										#form_csv textarea {
										width: 100%;
									}
									 </style>

										 <form id="form_csv" >
											 {{form_csv.as_p}}
										 </form>
										 <p  id="msg_log" hidden></p>
				         </div>
				         <div class="modal-footer">
									 <!-- link para fazer a solicitação -->
											<script type="text/javascript">
											$("#form_csv").submit(function(e) {

													var url = "{% url 'export_data' idioma=idioma collection=collection id=id template=template%}"; // the script where you handle the form input.

													$.ajax({
																 type: "GET",
																 url: url,
																 data: $("#form_csv").serialize(), // serializes the form's elements.
																 success: function(data)
																 {

																	 // limpa menssagem de retorno princiapl
																	 	$('#msg_log').html('')
																		// limpa mensagens individuais nos campos
																		$('.msg_error').remove()


																		if(data.status == 500){

																			// remove alerta com mensagem de erro
																			// $('#msg_log').addClass("alert alert-danger")

																			for(erro in data.error){


																				for(var i = 0; i < data.error[erro].length; i++){
																					var msg = document.createElement('p')
																					$(msg).addClass('msg_error')
																					$(msg).css('color','red')
																				msg.innerHTML = data.error[erro][i]
																					$('[name="'+erro+'"').after(msg)
																				}

																			}
																		}else{
																			// $('#msg_log').removeClass("alert alert-danger")
																			$('#msg_log').addClass("alert alert-success")
																			$('#msg_log').append(data.message)
																		}
																		$('#msg_log').show()
																		 console.log(data)

																		 // lima todos os campos
																		 // $('#form_csv').trigger("reset")
																 }
															 });

													e.preventDefault(); // avoid to execute the actual submit of the form.
												});
											</script>
			            <button class="btn btn-default form_facet_submit" id="div_id' + id + '" onclick="$('#form_csv').submit()">Enviar</button>
				            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
				         </div>
							 </div>
						 </div>
					 </div>

</html>
