a,ul{
	color:#000 !important;
}
h2,h6{
font-weight:500;
}
.menu{
	padding-top:10px;padding-bottom:10px;
}
.nav-buscador{
	margin-top: 15px;color:#000 !important;padding-right:40px;font-weight:500;
}
.row-1{
	padding-top:80px;padding-bottom:70px;background-color:#afafaf;
}
.row-2{
	padding-top:50px;padding-bottom:50px;
}
.row-3{
	padding-top:50px;padding-bottom:50px;background-color:#afafaf;
}
.row-4{
	padding-top:50px;padding-bottom:50px;
}
.row-5{
	padding-top:50px;padding-bottom:50px;background-color:#afafaf;
}
.row-6{
padding-top:5px;padding-bottom:5px;
}
.img-row-3{
	background-color: #00000029;height:100%;padding:20px;color:#fff;
}
.text-top{
font-size:2.6rem;color:#fff !important;font-weight:500;
}
.text-row{
	padding-top:20px;font-weight: 600;color:dimgrey;
}
.text-box-row-3{
margin-top:10px;font-size:0.8rem;
}
.btn-link{
	color:#000 !important;text-decoration: none;
}
.text-footer{
	text-align:right;
}
@media only screen and (max-width: 1650px) {
	.text-botoes{
		font-size: 0.8rem !important;
	}
}
@media only screen and (max-width: 1380px) {
	.text-botoes{
		font-size: 0.6rem !important;
}

	}
@media only screen and (max-width: 600px) {
	.list-menu{
	width:100%;
}
.botao-colapso{
	white-space: normal;

	}
	.separador-btn{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	p,a{
		font-size: 1.4rem !important;

	}
	.text-footer{
	text-align:center;
}
}
